body {
	background: rgb(43,2,74);
	background: radial-gradient(circle, rgba(43,2,74,1) 0%, rgba(3,2,38,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto 100%;
}
/* Wrap */
.wrap {
	overflow: hidden;
	width: 100%;
	color: #eee;
}

/* Skip Navigation */
#skipnavi a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: -1000px;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 1px;
	color: #222;
}
#skipnavi a:focus,
#skipnavi a:hover,
#skipnavi a:active {
	top: 0;
	left: 0;
	background-color: #e9e9e9;
	padding: 7px 0 5px;
	height: auto;
	color: #000;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}

/* Header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
	-webkit-backdrop-filter: blur(0.4rem);
	backdrop-filter: blur(0.4rem);
}
#header .inner {
	display: flex;
	align-items: center;
	max-width: 102.4rem;
	margin: 0 auto;
	padding: 2.6rem 2rem;
	box-sizing: border-box;
}
#header h1 a {
	display: flex;
	align-items: flex-end;
	font-size: 2rem;
	letter-spacing: -0.1rem;
}
#header .links {
	margin-left: auto;
}
#header .links a {
	padding: 0.8rem;
	transition: transform .2s ease-in-out;
}
#header .links a:hover {
	transform: scale(1.2) rotate(10deg);
}

/* GNB */
#nav {
	position: fixed;
	top: 50%;
	right: 2rem;
	z-index: 99;
	transform: translateY(-50%);
}
#nav .gnb {
	display: flex;
	flex-direction: column;
	/* width: 4.4rem; */
	padding: 1.4rem 0;
	border-radius: 4rem;
	background: rgba(256,256,256,0.2);
	/* background: rgba(256,256,256,0.1);
	-webkit-backdrop-filter: blur(0.4rem);
	backdrop-filter: blur(0.4rem); */
}
#nav .gnb li {
	position: relative;
}
#nav .gnb li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}
#nav .gnb li a:hover + .sub {
	right: calc(100% + 1rem);
	opacity: 1;
}
#nav .gnb li .sub {
	position: absolute;
	top: 50%;
	right: 100%;
	font-size: 1.2rem;
	transform: translateY(-50%);
	opacity: 0;
	transition: all .3s ease-in-out;
}

/* Content */
#content {
	position: relative;
}

/* Footer */
#footer {
	padding: 40px 0;
	background: #000;
	color: #fff;
	text-align: center;
}
#footer .closing {
	padding: 2rem 0 4rem;
}
#footer .copy {
	font-size: 1.2rem;
}
