@media (max-width:1023px) {
	br.pc {
		display: none;
	}
	br.mo {
		display: block;
	}

	/* Header */
	#header .inner {
		max-width: 100%;
		padding: 1.6rem 4rem;
	}
	#header h1 img {
		width: 14rem;
	}

	/* Gnb */
	#nav {
		position: fixed;
		top: auto;
		right: auto;
		left: 0;
		bottom: 0;
		width: 100%;
		transform: translateY(0);
	}
	#nav .gnb {
		flex-direction: row;
		justify-content: center;
		padding: 1rem 2rem;
		border-radius: 0;
		background: rgba(0,0,0,0.8);
	}
	#nav .gnb li {
		width: 25%;
	}
	#nav .gnb li .sub {
		display: none;
	}

	/* Footer */
	#footer {
		padding-bottom: 12rem;
	}

	/* Contents */
	[class^='sec_'] {
		padding: 7.2rem 4rem 6.4rem;
		/* padding-top: 7.2rem;
		padding-bottom: 6.4rem; */
		max-width: 100%;
		min-height: 90vh;
		max-height: none;
		height: auto;
	}
	[class^='sec_'] .inner {
		flex-direction: column;
	}
	[class^='sec_'] .s_tit {
		font-size: 3rem;
	}
	.sec_home .tit {
		font-size: 3rem;
		line-height: 3rem;
	}
	.sec_home .txt {
		font-size: 1.6rem;
	}
	.sec_home .btns {
		margin-top: 6rem;
	}
	.sec_about .head {
		width: 100%;
		padding-right: 0;
	}
	.sec_about .cont {
		width: 100%;
		margin-top: 4rem;
	}
	.tab_wrap .tab_cont {
		height: auto;
	}
	.sec_work .head {
		padding-right: 0;
	}
	.sec_work .cont {
		width: 100%;
		margin-top: 5rem;
	}
	.sec_work .cont .swiper {
		width: 100%;
		height: auto;
	}
	.work_wrap .work_item a:hover .overlay {
		display: none;
	}
	.sec_contact .inner {
		align-items: flex-start;
	}
	.sec_contact .head {
		padding-right: 0;
	}
	.sec_contact .cont {
		width: 100%;
		margin-top: 5rem;
	}
	.sec_contact .contact_box .img {
		margin: 0 0.6rem;
	}

	/* Popup */
	.popup_wrap .inner {
		width: 80%;
		box-sizing: border-box;
	}
}

@media (max-width:600px) {
	#header .inner {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	[class^='sec_'] {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
