/* Icon */
[class^='ic_'] {
	display: inline-block;
	vertical-align: top;
}
.ic_github {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/common/ic_github.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_home {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/common/ic_home.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.active .ic_home {
	background-image: url('../images/common/ic_home_active.svg');
}
.ic_about {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/common/ic_about.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.active .ic_about {
	background-image: url('../images/common/ic_about_active.svg');
}
.ic_work {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/common/ic_work.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.active .ic_work {
	background-image: url('../images/common/ic_work_active.svg');
}
.ic_contact {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/common/ic_contact.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.active .ic_contact {
	background-image: url('../images/common/ic_contact_active.svg');
}
.ic_arrow {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/common/ic_arrow.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_html {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_html.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_css {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_css.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_sass {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_sass.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_javascript {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_javascript.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_reactjs {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_reactjs.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_nextjs {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_nextjs.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_git {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_git.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_vscode {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_vscode.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_figma {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_figma.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_photoshop {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_photoshop.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_slack {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_slack.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_notion {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/contents/ic_notion.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_close {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/common/ic_close.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_mail {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/common/ic_mail.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
.ic_kakao {
	width: 2.4rem;
	height: 2.4rem;
	background: url('../images/common/ic_kakao.svg') 0 0 no-repeat;
	background-size: 100% auto;
}
