<section class="sec_contact" data-anchor="contact">
	<div class="inner">
		<div class="head">
			<h2 class="s_tit">문제해결을 위해<br> 노력합니다.</h2>
			<p class="s_txt">
				<span class="inblock">무수한 문제들을 하나씩 해결해 나가다 보면,</span>
				<span class="inblock">모두가 만족하는 환경에 가까이 다가갈수 있지 않을까요.</span>
			</p>
		</div>
		<div class="cont">
			<div class="contact_box">
				<div class="img">
					<img src="./images/contents/img_view.png" alt="">
				</div>
				<ul class="list">
					<li>
						<i class="ic_mail"></i>
						<span class="txt">seungchan85@gmail.com</span>
					</li>
					<li>
						<i class="ic_kakao"></i>
						<span class="txt">schlee85</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>