<section class="sec_contact" data-anchor="contact">
	<div class="inner">
		<div class="head">
			<h2 class="s_tit">대화를<br> 환영합니다.</h2>
			<p class="s_txt">언제든지 연락주세요.</p>
		</div>
		<div class="cont">
			<div class="contact_box">
				<div class="img">
					<img src="./images/contents/img_view.png" alt="">
				</div>
				<ul class="list">
					<li>
						<i class="ic_mail"></i>
						<span class="txt">seungchan85@gmail.com</span>
					</li>
					<li>
						<i class="ic_kakao"></i>
						<span class="txt">schlee85</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>