<section class="sec_home" data-anchor="home">
	<h2 class="blind">Home</h2>
	<strong class="tit">For a beautiful<br class="mo"> <span class="point">UI environment</span></strong>
	<p class="txt">아름다운 UI 환경을 위하여</p>
	<div class="btns">
		<button type="button" class="btn_goabout">Scroll wheel <i class="ic_scroll"></i></button>
	</div>
</section>