<section class="sec_work" data-anchor="work">
	<div class="inner">
		<div class="head">
			<h2 class="s_tit">이러한 경험을<br> 해왔습니다.</h2>
			<p class="s_txt">함께 한 동료들께 감사드립니다.</p>
		</div>
		<div class="cont">
			<div class="swiper" data-ui="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="work_wrap">
							<div class="work_item">
								<a href="#pop_kbbank" data-ui="popup">
									<img src="./images/work/img_work_kbbank.png" alt="">
									<span class="overlay">국민은행 기업 운영 (2023)</span>
								</a>
							</div>
							<div class="work_item">
								<a href="#pop_thehyundai" data-ui="popup">
									<img src="./images/work/img_work_thehyundai.png" alt="">
									<span class="overlay">현대백화점 고도화 (2022)</span>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="work_wrap">
							<div class="work_item">
								<a href="#pop_ssg" data-ui="popup">
									<img src="./images/work/img_work_ssg.png" alt="">
									<span class="overlay">SSG닷컴 운영 (2022)</span>
								</a>
							</div>
							<div class="work_item">
								<a href="#pop_lgcns" data-ui="popup">
									<img src="./images/work/img_work_lgcns.png" alt="">
									<span class="overlay">LGCNS singlex portal (2021)</span>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="work_wrap">
							<div class="work_item">
								<a href="#pop_runable" data-ui="popup">
									<img src="./images/work/img_work_runable.png" alt="">
									<span class="overlay">러너블 구축 (2021)</span>
								</a>
							</div>
							<div class="work_item">
								<a href="#pop_shinhanbank" data-ui="popup">
									<img src="./images/work/img_work_shinhanbank.png" alt="">
									<span class="overlay">신한은행 MY자산 고도화 (2021)</span>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="work_wrap">
							<div class="work_item">
								<a href="#pop_tworld" data-ui="popup">
									<img src="./images/work/img_work_tworld.png" alt="">
									<span class="overlay">티월드 운영 (2020)</span>
								</a>
							</div>
							<div class="work_item">
								<a href="#pop_kbcard" data-ui="popup">
									<img src="./images/work/img_work_kbcard.png" alt="">
									<span class="overlay">국민카드 차세대 고도화 (2019)</span>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="work_wrap">
							<div class="work_item">
								<a href="#pop_hanwhalife" data-ui="popup">
									<img src="./images/work/img_work_hanwhalife.png" alt="">
									<span class="overlay">한화생명 온슈어 개편 (2018)</span>
								</a>
							</div>
							<div class="work_item">
								<a href="#pop_shinhanbank2" data-ui="popup">
									<img src="./images/work/img_work_shinhanbank.png" alt="">
									<span class="overlay">신한은행 쉐어드&amp;판클럽 통합 구축 (2018)</span>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="work_wrap">
							<div class="work_item">
								<a href="#pop_lottelife" data-ui="popup">
									<img src="./images/work/img_work_lottelife.png" alt="">
									<span class="overlay">롯데손해보험 퇴직연금 구축 (2017)</span>
								</a>
							</div>
							<div class="work_item">
								<a href="#pop_jejubank" data-ui="popup">
									<img src="./images/work/img_work_jejubank.png" alt="">
									<span class="overlay">제주은행 제주S뱅킹 (2017)</span>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="work_wrap">
							<div class="work_item">
								<a href="#pop_shinhangroup" data-ui="popup">
									<img src="./images/work/img_work_shinhangroup.png" alt="">
									<span class="overlay">신한금융지주 AI 플랫폼 제안 (2017)</span>
								</a>
							</div>
							<div class="work_item">
								<a href="#pop_samsungsds" data-ui="popup">
									<img src="./images/work/img_work_samsungsds.png" alt="">
									<span class="overlay">삼성SDS 웹 솔루션 개편 (2016)</span>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="work_wrap">
							<div class="work_item">
								<a href="#pop_shinhanbank3" data-ui="popup">
									<img src="./images/work/img_work_shinhanbank.png" alt="">
									<span class="overlay">신한은행 신한S뱅킹 (2015)</span>
								</a>
							</div>
							<div class="work_item">
								<a href="#pop_hanssem" data-ui="popup">
									<img src="./images/work/img_work_hanssem.png" alt="">
									<span class="overlay">한샘 패밀리 사이트 운영/구축 (2014)</span>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="work_wrap">
							<div class="work_item">
								<a href="#pop_artndesign" data-ui="popup">
									<img src="./images/work/img_work_artndesign.png" alt="">
									<span class="overlay">아트앤디자인 사이트 운영 (2012)</span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="swiper-pagination"></div>
				<!-- <div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div> -->
			</div>
		</div>
	</div>
</section>