<header id="header">
	<div class="inner">
		<h1>
			<a href="/">
				<img src="./images/common/logo.svg" width="170" alt="seungchan lee">
			</a>
		</h1>
		<div class="links">
			<a href="https://github.com/schlee85/portfolio" target="_blank" title="바로가기">
				<i class="ic_github"><span class="blind">github</span></i>
			</a>
		</div>
	</div>
</header>