<nav id="nav">
	<ul class="gnb">
		<li class="active">
			<a href="#" data-href="home">
				<i class="ic_home"><span class="blind">Home</span></i>
			</a>
			<span class="sub">Home</span>
		</li>
		<li>
			<a href="#" data-href="about">
				<i class="ic_about"><span class="blind">About</span></i>
			</a>
			<span class="sub">About</span>
		</li>
		<li>
			<a href="#" data-href="work">
				<i class="ic_work"><span class="blind">Work</span></i>
			</a>
			<span class="sub">Work</span>
		</li>
		<li>
			<a href="#" data-href="contact">
				<i class="ic_contact"><span class="blind">Contact</span></i>
			</a>
			<span class="sub">Contact</span>
		</li>
	</ul>
</nav>